// Your variable overrides
$body-bg: #BDBDBD;

$primary: (
    color: #ff5722,
    dark:  darken(#ffc107, 20%),
    light: #ffe57f
);

$secondary: (
    color: #ff6f00,
    dark:  #ffc400,
    light: #ffe57f
);

$danger: (
    color: #f44336,
    dark:  #d32f2f,
    light: #ffcdd2
);

$info: (
    color: #2196f3,
    dark:  #1976d2,
    light: #bbdefb
);

$success: (
    color: #4caf50,
    dark:  #388e3c,
    light: #c8e6c9
);

$warning: (
    color: #ff9800,
    dark:  #f57c00,
    light: #ffe0b2
);

$dark: (
    color: #424242,
    dark:  #212121,
    light: #757575
);

$light: (
    color: #f5f5f5,
    dark:  #e0e0e0,
    light: #fafafa
);

$primary-color-dark:   #E64A19;
$primary-color:        #FF5722;
$primary-color-light:  #FFCCBC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF4081;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #ECECEC;
