body {
 font-family: 'Nunito Sans', sans-serif !important;
}


.rounded-ac{
    border-radius: 55px;
}

.icon-home-ac{
    font-size: 5rem
}

.text-ac{
    font-size: 4rem;
}

.icon-mobile-ac{
    font-size: 2rem
}

@media only screen and (max-width: 375px) {
    .icon-mobile-ac{
        font-size: 1.36rem
    }
}

.bg-white-ac{
    background-color: #FEFEFE
}

.bg-primary-ac{
    background-color: $primary-color;
}

.bg-primary-darck-ac{
    background-color: $primary-color-dark;
}

.bg-light-ac{
    background-color: $primary-color-light;
}
.text-light-ac{
    color: $primary-color-text;

}

.text-dark-ac{
    color: $primary-text-color;
}

.text-secundary-ac{
    color: $secondary-text-color;
}
.bg-dark-ac{
    background-color: $divider-color;
}

.bg-secundary-ac{
    background-color: $accent-color;
}

.bg-profile-ac {
    background-color: #2196F3;
}

.text-meio-ac {
    color: #d4d3d3;
}

//Overwrite card material desin
.card-ac{
    max-width: 19rem !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}


.card-lg-ac{
    max-width: 66%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}
@media only screen and (max-width: 700px) {
    .card-ac{
        max-width: 98% !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    }

    .card-lg-ac{
        max-width: 99% !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

